<h1>Please include the student ID with the request</h1>
<p>Also include any additional information like the students email adress if they prefer that over their university email</p>
<form action="https://formspree.io/Wil.Vincent@bcu.ac.uk"
      method="POST" id="form" class="form-group">
      Student ID:<input type="text" name="studentID">
    <textarea form="form" class="mailinput" type="textarea" rows="4" cols="50" name="Issue" placeholder="Please enter your query here"></textarea>
    <input id="no-display" type="email" value="QuickResponseApp@bcu.ac.uk" name="_replyto">
  <br />
    <input id="submit" type="submit" value="Send">
</form>
