<h1>Welcome / Course Talks</h1>
<table class="table table-bordered table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>
				Time
			</th>
			<th>
				Lead
			</th>
			<th>
				Room
			</th>
			<th>
				Activity
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
        11.30 - 12.45pm
			</td>
			<td>
				Simon Handley
			</td>
			<td>
				Auditorium
			</td>
			<td>
				Facculty Talk:<br />
        BSc Computer Networks<br />
BSc Computer Networks & Security<br />
BSc Information Communications Technology<br />
			</td>
		</tr>
		<tr>
			<td>
        1.00 -
2.45pm

			</td>
			<td>

  Simon Handley



			</td>
			<td>
      Auditorium
			</td>
			<td>

        	Faculty Talk:<br />
        BSc Business Information Technology<br />
        BSc Computer Games Technology<br />
        BSc Forensic Computing<br />
        BSc Computer Science<br />

			</td>
		</tr>
		<tr>
			<td>
        1.00 -
2.30pm

			</td>
			<td>
      Rehan Bhana
			</td>
			<td>
         MP103

			</td>
			<td>
        Programme Leaders Talk -<br />
        BSc Information Communications Technology
			</td>
		</tr>
		<tr>
			<td>

2pm –
3:30pm



			</td>
			<td>
				--
			</td>
			<td>
			MP 391
			</td>
			<td>
        Programme Leaders Talk –<br />
      BSc Computer Networks<br />
      BSc Computer Networks & Security<br />
			</td>
		</tr>
		<tr>
			<td>
        3.00 -
4.30pm
			</td>
			<td>
        Chris Maguire
			</td>
			<td>
        MP150
			</td>
			<td>
        Programme Leaders Talk -<br />
      BSc Business Information Technology
			</td>
		</tr>
		<tr>
			<td>
        3.00 -
4.30pm

			</td>
			<td>
					Andrew Wilson
			</td>
			<td>
					MP135
			</td>
			<td>
        Programme Leaders Talk –<br />
        BSc Computer Games Technology
			</td>
		</tr>
		<tr>
			<td>

3.00 -
4.30pm


			</td>
			<td>
        Khaled Mahbub
			</td>
			<td>
        Auditorium

			</td>
			<td>
        Programme Leaders Talk -<br />
      BSc Computer Science
			</td>
		</tr>
		<tr>
			<td>
        3.00 -
  4.30pm

			</td>
			<td>
	--
			</td>
			<td>
					MP244
			</td>
			<td>
        Programme Leaders Talk –<br />
      BSc Forensic Computing

			</td>
		</tr>
	</tbody>
</table>
