<h1> Digital Media</h1>
<div ng-repeat="d in dmt" class="col-sm-3 col-md-4">
	<div class="thumbnail tile tile-wide tile-orange">
		<a href="#/course/{{d}}" >
			<h1 class="tile-text">
				 {{d}}</h1>
		</a>
	</div>
</div>
<h1> Engineering </h1>
<div ng-repeat="e in engineering" class="col-sm-3 col-md-4">
	<div class="thumbnail tile tile-wide tile-blue">
		<a href="#/course/{{e}}" >
			<h1 class="tile-text">
				 {{e}}</h1>
		</a>
	</div>
</div>
<h1>Computing</h1>
<div ng-repeat="c in computing" class="col-sm-3 col-md-4">
	<div class="thumbnail tile tile-wide tile-purple">
		<a href="#/course/{{c}}" >
			<h1 class="tile-text">
				 {{c}}</h1>
		</a>
	</div>
</div>
<h1>Built Enviroment</h1>
<div class="col-sm-3 col-md-4">
	<div class="thumbnail tile tile-wide tile-green">
		<a href="#/course/Built Enviroment" >
			<h1 class="tile-text">
				 All Built Enviroment</h1>
		</a>
	</div>
</div>
